<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" *ngIf="!paginator.first" ><a class="page-link" [routerLink]="['/users/page', paginator.number + -1]" >Previous</a></li>
    <li class="page-item" *ngFor="let page of pages" [ngClass]="page-1 == paginator.number?'active':''">
      <a class="page-link" [routerLink]="['/users/page', page-1]" >{{page}}</a>
    </li>
    <li class="page-item" *ngIf="!paginator.last"><a class="page-link" [routerLink]="['/users/page', paginator.number + 1]">Next</a></li>
  </ul>
</nav>
