<div class="container" *ngIf="authService.isAuthenticated()">
  <div class="card mb-3">
    <div class="card-header text-center" style="font-size: large;">LIST OF USERS</div>
    <div class="card-body text-primary">
      <!--      <h5 class="card-title" *ngIf="authService.hasRole('ROLE_ADMIN')">List of Users</h5>-->
      <div class="my-2 text-left">
        <form class="d-flex" (ngSubmit)="filter()">
          <input class="form-control me-2" type="search" [(ngModel)]="usernameFilter" name="username" placeholder="Filter by Username" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div *ngIf="users?.length == 0" class="alert alert-info">
        No hay registros en la base de datos!
      </div>
      <table class="table table-bordered table-striped" *ngIf="users.length > 0">
        <thead>
        <tr>
          <th>id</th>
          <th>username</th>
          <th>password</th>
          <th>joining</th>
          <th>birthday</th>
          <th>balance</th>
          <th>
            edit
          </th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.joining }}</td>
          <td>{{ user.birthday }}</td>
          <td>{{ user.balance }}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/users/form', user.id]" class="btn btn-primary btn-sm">edit</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="eliminar" (click)='delete(user)' class="btn btn-danger btn-sm">delete</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div style="display: flex; justify-content: space-between">
        <paginator-nav *ngIf="paginator" [paginator]="paginator"></paginator-nav>
        <button class="btn btn-rounded btn-success" type="button" *ngIf="authService.hasRole('ROLE_ADMIN')" [routerLink]="['/users/form']">
          New User
        </button>
      </div>

    </div>
  </div>
</div>
